/* /Counter.razor.rz.scp.css */
button[b-wylsoa68zy] {
    font-weight: bold;
    background-color: #7b31b8;
    color: white;
    border-radius: 4px;
    padding: 4px 12px;
    border: none;
}

button:hover[b-wylsoa68zy] {
    background-color: #9654cc;
    cursor: pointer;
}

button:active[b-wylsoa68zy] {
    background-color: #b174e4;
}
